body{
    background-color: cadetblue;
    font-family:'roboto', sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.reg-form{
    width: 350px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    margin-top: 55px;
}

.login{
    width: 350px;
    height: 270px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

}

h1{
    text-align: center;
    padding-top:15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 6px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(158, 36, 60);
    color:white;
    font-size: 16px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-1{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.para-1 a{
    color: rgb(204, 201, 216);
}